include README.md
include LICENSE.txt
include MANIFEST.in
include pyproject.toml
include setup.py
include nerfvis/scene.py
include nerfvis/utils/sh.py
include nerfvis/utils/__init__.py
include nerfvis/utils/_rotation.pyx
include nerfvis/utils/_rotation.c
include nerfvis/__init__.py
include nerfvis/index.html
include nerfvis/version.py
